.stickyheader{
    position: fixed;
    background: white;
    /*padding: 15px 0px 5px  0px;*/
}

.disabled\:opacity-25:disabled {
    opacity: .25;
}

 .ereaders-blog-grid ul li:hover .ereaders-readmore-btn{
    /* color: #fff; */
 }

/*bootstrap primary button reset*/
.btn-primary {
    color: #fff;
    background-color: #00aff0;
    border-color: #00aff0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #00aff0;
    border-color: #00aff0;
    outline: none;
}


/*extra tailwind  utility class*/
.text-xxs{
    font-size: 1em;
}



.ereaders-preview-text {
    /*float: right;*/
    /*background-color: #ffffff;*/
    width:100%;
    text-align: center;
    padding: 51px 0 70px 0;
    border-radius: 3px;
    /*box-shadow: 0 2px 15px rgba(0,0,0,0.10);*/
}
.ereaders-preview-text h2 {
    display: inline-block;
    margin: 0px 0px 20px;
    line-height: 1;
    font-size: 150px;
}
.ereaders-preview-text h2 img { margin: 13px 7px 0px; }
.ereaders-preview-text span {
    display: block;
    letter-spacing: 1.5px;
    font-size: 26px;
    text-transform: uppercase;
    color: #2e2e2e;
    margin: 0px 0 15px;
}
.ereaders-preview-text p {
    display: inline-block;
    margin: 0px 0px 24px;
    color: #7e7e7e;
    font-size: 15px;
    width: 55%;
}



/*Fancy Heading*/
.ereaders-fancy-heading {
float: left;
    width: 100%;
    /* text-align: center; */ 
    margin: 0px 0px 14px;
    background: white;
    padding: 10px 20px;
}
.ereaders-fancy-heading h4 {
    /*margin: 0px 0px 23px;*/
    text-transform: uppercase;
    letter-spacing: 1.6px;
    position: relative;
    display: inline-block;
    padding: 5px 0px 0px 35px;
}
.ereaders-fancy-heading h4:before {
    content: '';
    border-radius: 3px;
    position: absolute;
    left: -5px;
    top: 0px;
    width: 25px;
    height: 25px;
    border: 1px solid;

}
.ereaders-fancy-heading h4:after {
    content: '';
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid;
}
.ereaders-fancy-heading p {
    margin: 0px 60px;
    font-size: 19px;
    font-weight: 300;
    display: inline-block;
    width: 44%;
    letter-spacing: 0.8px;
}

.ereaders-upload-btn {
    border: thin solid #eae3e3;
    background: none;
    color: #9ca3af;
    float: right;
    font-size: 14px; 
    padding: 6px 28px 9px;
    border-radius: 3px;
    margin: 3px 0px 0px; 
}



.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #d1d5db;
}


/*subfield_listings*/
.subfields .widget_cetagories ul li {
    float: left;
    width: 30%;
    margin: 0px 4px 20px;
}


.subfields .widget_cetagories ul li a {
    display: block;
    font-size: 16px;
    color: #2e2e2e;
    border-radius: 4px;
    border: 1px solid #ececec;
    padding: 10px 14px 5px 35px;
    text-transform: uppercase;
    position: relative;
    height: 70px;
}


.subfields .widget_cetagories ul li a:before {
    content: "\f105";
    position: absolute;
    left: 15px;
    top: 10px;
    font-family: FontAwesome;
    font-size: 14px;
}

.subfields .widget_cetagories ul li a:hover {
    color: white;
}


@media (max-width: 767px){
    .subfields, .ereaders-main-content .widget {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 0px;
        width: 100% !important;
        margin-left: 0px;
    }

    .subfields .widget_cetagories ul li {
        float: left;
        width: 100%;
        margin: 0px 0px 20px;
    }
}


@media (min-width: 768px) and (max-width: 990px){
     .subfields, .ereaders-main-content .widget {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 0px;
        width: 100%;
        margin-left: 0;
    }

    .subfields .widget_cetagories ul li {
        float: left;
        width: 46%;
        margin: 0px 4px 20px;
    }
}


/*tailwind container overide*/
@media (min-width: 768px){
    .container {
        max-width: 90%;
    }
}

@media (min-width: 768px){
    .container {
        width: 95%;
    }
}


.ereaders-blog-grid-wrap {
    min-height: 300px;
}

.ereaders-full-form textarea{
    font-size: 16px;
}

.comment-respond form p input[type="text"], .comment-respond form p input[type="email"]{
    font-size: 16px;
}




.footer-widget a{
    color: white;
    font-size: 12px;
}

.footer-widget-title{
    color: #00aff0;
    font-size: 14px;

}


.ereaders-blog-grid-text h2 {
    font-weight: 500;
}